#create-note-form{
  text-align: center;
}

.blue{
color:#154360;
}



#create-note-form button{
  margin: 10px;
  padding: 10px 15px 10px 15px;
  background-color: #154360;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.input-field{
  padding: 15px;
  width: 75%;
  margin: 10px;
}
