/* You can add global styles to this file, and also import other style files */
.nav ul li{
display : inline;
}
.nav ul{
  margin: 10px;
}
.nav{
  background-color:#154360;
  margin:0px;
  color: #ffffff;
  padding: 10px;


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
